.gmo-form .messages {
  display: flex;
  align-items: center;
  border-width: 2px;
  padding: 16px 32px 16px 16px;
  line-height: 1.25;
  margin-bottom: 24px;
}

.gmo-form .messages--error {
  border-color: #a51b00;
}

.gmo-form input {
  max-width: 100% !important;
}

.gmo-form .form-item-container {
  margin-right: 0;
}

@media (min-width: 768px) {
  .gmo-form .form-item-container {
    width: 50%;
  }
}
